#filters
  = render "filters"
#resultsTitle
  %h2
    %strong
      79 jobs 
    for programming in Paris
.clear
#results
  %table
    %tbody
      = render :partial => "job", :collection => @jobs
  = will_paginate(@jobs, :renderer => AwsmRenderer, :previous_label => "← previous", :next_label => "next →")